.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input,
.select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.button {
  background-color: #200b0b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
