.main{
  background-color: rgb(171, 171, 182);
  padding: 20px;
}
.container {
  display: flex;
  margin-top: 1rem;
}

.main-content {
  flex-grow: 1;
}

.sidebar {
  width: 350px;
  margin-left: 1rem;
}
